aiohappyeyeballs==2.7.1
aiohttp==3.14.1
aiosignal==1.4.0
attrs==26.1.0
blinker==1.9.0
brotli==1.2.0
cbor2==6.1.2
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.2
cryptography==49.0.0
et_xmlfile==2.0.0
Flask==2.3.3
flask-cors==6.0.5
flask-marshmallow==1.4.0
Flask-SQLAlchemy==3.1.1
frozenlist==1.8.0
h11==0.16.0
h2==4.3.0
hpack==4.2.0
hyperframe==6.1.0
idna==3.18
itsdangerous==2.2.0
Jinja2==3.1.6
kaitaistruct==0.11
lxml==6.1.1
MarkupSafe==3.0.3
marshmallow==3.26.2
marshmallow-sqlalchemy==1.5.0
multidict==6.7.1
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==26.2
propcache==0.5.2
pyasn1==0.6.4
pycparser==3.0
pycryptodomex==3.23.0
PyJWT==2.13.0
pyOpenSSL==26.3.0
PyOTP==2.10.0
pyparsing==3.3.2
PySocks==1.7.1
requests==2.34.2
-e git+https://github.com/dirkjanm/ROADtools@081fcdc9d7798b0c734ac216ede18a1c559b4b8a#egg=roadlib&subdirectory=roadlib
-e git+https://github.com/dirkjanm/ROADtools@081fcdc9d7798b0c734ac216ede18a1c559b4b8a#egg=roadrecon&subdirectory=roadrecon
-e git+https://github.com/dirkjanm/ROADtools@081fcdc9d7798b0c734ac216ede18a1c559b4b8a#egg=roadtools
-e git+https://github.com/dirkjanm/ROADtools@081fcdc9d7798b0c734ac216ede18a1c559b4b8a#egg=roadtx&subdirectory=roadtx
ruamel.yaml==0.19.1
selenium==4.45.0
selenium-wire-roadtx==5.2.4
setuptools==83.0.0
signxml==5.1.0
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.51
trio==0.33.0
trio-websocket==0.12.2
typing_extensions==4.16.0
urllib3==2.7.0
websocket-client==1.9.0
Werkzeug==3.1.8
wsproto==1.3.2
yarl==1.24.2
zstandard==0.25.0
